/* set Media quary */
@media (min-width: 560px) and (max-width: 1024px) {

    .wrapper {
        width: 100%;
        overflow-y: scroll;
    }

    .ErrerImage.active{
        width: 180px;
        position: relative;
        left: 38%;
    } 
}


@media (min-width: 180px) and (max-width: 560px) {

     .wrapper {
          width: 100%;
          overflow-x: auto;
          overflow-y: scroll;
     }

     .parameter-container {
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     .parameter {
          width: 100%;
          max-width: 20rem;
     }

     .tab {
          font-size: 0.8rem;
          letter-spacing: 1.75px;
          padding: 5px 8px;
     }

     .tab-container {
          width: 100%;
          margin-left: 8px;
          margin-right: 8px;
     }

     .ErrerImage.active {
          width: 180px;
          position: relative;
          left: 20%; 
     }

     h1 {
          color: orange;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }
}

@media (max-width: 1440px) {
     .form-container {
          width: 80%;
          margin-bottom: 20px;
     }
}